<template>
  <div>
    <h2>Créer un compte</h2>
    <form @submit.prevent="createAccount">
      <div>
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" v-model="username" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" required>
      </div>
      <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" v-model="password" required>
      </div>
      <button type="submit">Créer un compte</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      username: '',
      email: '',
      password: '',
    };
  },
  methods: {
    async createAccount() {
      try {
        const response = await axios.post('http://localhost:8000/api/signup/', {
          username: this.username,
          email: this.email,
          password: this.password,
        });
        // Gérer la réponse du serveur ici
      } catch (error) {
        // Gérer l'erreur ici
      }
    },
  },
};
</script>